table {
	border:none;
	border-spacing: 0;
}
td {
  text-align: center;
  padding: 4px 4px;
  color: rgb(65, 65, 65);
  font-size: 18px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border:1px solid gray;
  position: relative;
}

td:hover {
  background-color: rgb(215, 215, 215);
}

td::selection {
  background-color: white;
  color: rgba(0, 0, 0, 0.9);
}

.line {
	width:15px;
	height:15px;
	background-color: red;
	position:absolute;
	top:10px;
	left:10px;
}
