<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="/static/style.css"  charset="utf-8">
		<title>Index</title>
	</head>
	<body>
		<header>
			<nav>

			</nav>
		</header>
		<div class="container">

			<div class="left">
				<div class="menu" >
					<div class="tabbed-container">
					<div class="buttons-heading">
						<button class="settings"> Wordsearch settings</button>
						<button class="statistics"> Statistics</button>
						<button class="words">Words </button>
					</div>
					<div class="" > 
						<form action="" method="get"></form>
					</div>
					<div class=""></div>
					<div class=""></div>
					</div>

				</div>	
				<div class="run">
					<form action="" method="get">
						<button class="run-btn" name="run" value="generate">Generate</button>
					</form>
				</div>

			</div>

			<div class="right">
				{{ grid|safe  }}
			</div>
			
		</div>
		</div>
		
	</body>
</html>
