<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="/static/style.css"  charset="utf-8">
		<title>Index</title>
	</head>
	<body>
		<header>
			<nav>

			</nav>
		</header>
		<div class="container">

			<div class="left">
				<div class="menu" >
					<div class="tabbed-container">
					<div class="buttons-heading">
						<button class="settings-btn"> Wordsearch settings</button>
						<button class="statistics"> Statistics</button>
						<button class="words">Words </button>
					</div>
					<div class="settings" > 
						<form action="" method="get">
								<label for="width">Width:</label><br>
								<input type="number" id="width" name="width" required>
								<div>
								<label for="height">Height: </label><br>
								<input type="number" id="height" name="height" required>
								</div>
								<div>
									<label for="answers">Show answers </label>
									<input type="checkbox" id="answers" name="answers">
								</div>
								<div>
									<button class="run-btn" name="run" value="generate">Generate</button>
								</div>
								
						</form>
					</div>

					<div class="statistics"></div>
					<div class=""></div>
					</div>

				</div>	

			</div>

			<div class="right">
				{{ grid|safe  }}
			</div>
			
		</div>
		</div>
		
	</body>
</html>
